@using Hospitl_Mangement_MVC.ViewModel
@model UserRole

@{
    var UserOptions = new SelectList(ViewBag.Users, "Id", "Email");
    var RoleOptions = new SelectList(ViewBag.Roles, "Id", "Name");
}

<h2>Assign Role To User</h2>

<div>
    <form asp-action="AssignRole">
        <div class="form-group mt-4">
            <label asp-for="@Model.UserId" class="form-label">User</label>
            <select asp-for="@Model.UserId" class="form form-control" asp-items="UserOptions"></select>
            <span class="text-danger"></span>
        </div>
        <div class="form-group mt-4">
            <label asp-for="@Model.RoleId" class="form-label">Role</label>
            <select asp-for="@Model.RoleId" class="form form-control" asp-items="RoleOptions"></select>
            <span class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Assign</button>
    </form>
</div>